In [1]:
import numpy as np
import pandas as pd

In [12]:
S0 = 400
U = 1.2
D = 0.9
R = 0.1
Q = (1+R-D)/(U-D)

original_cost = 200
lease_cost = 240

original_rate = 10000
enhance_rate = 14000

option_cost = 5000000

In [13]:
def generate_gold_price_lattice(s, u, d):
    gold_lattice = pd.DataFrame(0,index=range(11),columns=range(11))
    gold_lattice.iloc[0,0] = s
    for i in range(1,11):
        for j in range(0,i+1):
            gold_lattice.iloc[j,i] = s * u**j * d**(i-j)
    return gold_lattice

In [14]:
gold_price_lattice = generate_gold_price_lattice(S0, U, D)
gold_price_lattice

,0,1,2,3,4,5,6,7,8,9,10
0,400,360.0,324.0,291.6,262.44,236.196,212.5764,191.31876,172.186884,154.968196,139.471376
1,0,480.0,432.0,388.8,349.92,314.928,283.4352,255.09168,229.582512,206.624261,185.961835
2,0,0.0,576.0,518.4,466.56,419.904,377.9136,340.12224,306.110016,275.499014,247.949113
3,0,0.0,0.0,691.2,622.08,559.872,503.8848,453.49632,408.146688,367.332019,330.598817
4,0,0.0,0.0,0.0,829.44,746.496,671.8464,604.66176,544.195584,489.776026,440.798423
5,0,0.0,0.0,0.0,0.00,995.328,895.7952,806.21568,725.594112,653.034701,587.731231
6,0,0.0,0.0,0.0,0.00,0.000,1194.3936,1074.95424,967.458816,870.712934,783.641641
7,0,0.0,0.0,0.0,0.00,0.000,0.0000,1433.27232,1289.945088,1160.950579,1044.855521
8,0,0.0,0.0,0.0,0.00,0.000,0.0000,0.00000,1719.926784,1547.934106,1393.140695
9,0,0.0,0.0,0.0,0.00,0.000,0.0000,0.00000,0.000000,2063.912141,1857.520927
10,0,0.0,0.0,0.0,0.00,0.000,0.0000,0.00000,0.000000,0.000000,2476.694569

In [15]:
def value_max(a, b):
    if a > b:
        return a 
    else:
        return b

In [16]:
def generate_lease_value(gold_lattice, q, r, lease_c, rate):
    lease_value = pd.DataFrame(0,index=range(11),columns=range(11))
    for i in reversed(range(10)):
        for j in reversed(range(i+1)):
            lease_value.iloc[j,i] = (value_max(gold_lattice.iloc[j,i] - lease_c, 0)*rate + 
                                     q*lease_value.iloc[j+1, i+1] + (1-q)*lease_value.iloc[j, i+1]) / (1 + r)
    return lease_value

## Q1 Compute the time t=0 value of the mine when the enhancement is already in place.

In [17]:
lease_value = generate_lease_value(gold_price_lattice, Q, R, lease_cost, enhance_rate)
lease_value

,0,1,2,3,4,5,6,7,8,9,10
0,3.026429e+07,2.188902e+07,1.507316e+07,9.650783e+06,5.501000e+06,2.588619e+06,9.370921e+05,1.659525e+05,0.000000e+00,0.000000e+00,0
1,0.000000e+00,3.563156e+07,2.606030e+07,1.828133e+07,1.208969e+07,7.311100e+06,3.802676e+06,1.463226e+06,2.738216e+05,0.000000e+00,0
2,0.000000e+00,0.000000e+00,4.072192e+07,2.982684e+07,2.099454e+07,1.398412e+07,8.588490e+06,4.630663e+06,1.960486e+06,4.518056e+05,0
3,0.000000e+00,0.000000e+00,0.000000e+00,4.522175e+07,3.287061e+07,2.289117e+07,1.500157e+07,8.959491e+06,4.557783e+06,1.620589e+06,0
4,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,4.870538e+07,3.476725e+07,2.355234e+07,1.473126e+07,8.020846e+06,3.178968e+06,0
5,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,5.060201e+07,3.495337e+07,2.242696e+07,1.263826e+07,5.256805e+06,0
6,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,5.015474e+07,3.268788e+07,1.879482e+07,8.027256e+06,0
7,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,4.636912e+07,2.700356e+07,1.172119e+07,0
8,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,3.794855e+07,1.664643e+07,0
9,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,2.321343e+07,0
10,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0

In [18]:
original_value = generate_lease_value(gold_price_lattice, Q, R, original_cost, original_rate)
original_value

,0,1,2,3,4,5,6,7,8,9,10
0,2.407455e+07,1.793665e+07,1.289428e+07,8.821155e+06,5.609762e+06,3.172343e+06,1.448845e+06,4.372132e+05,3.649730e+04,0.000000e+00,0
1,0.000000e+00,2.775468e+07,2.074833e+07,1.500498e+07,1.037602e+07,6.733336e+06,3.967004e+06,1.983342e+06,7.031531e+05,6.022055e+04,0
2,0.000000e+00,0.000000e+00,3.122106e+07,2.325225e+07,1.673821e+07,1.150497e+07,7.402582e+06,4.302357e+06,2.094562e+06,6.863547e+05,0
3,0.000000e+00,0.000000e+00,0.000000e+00,3.424862e+07,2.522111e+07,1.786715e+07,1.198335e+07,7.394377e+06,3.949774e+06,1.521200e+06,0
4,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,3.653166e+07,2.635006e+07,1.809105e+07,1.151707e+07,6.423391e+06,2.634328e+06,0
5,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,3.766061e+07,2.623464e+07,1.701400e+07,9.721546e+06,4.118497e+06,0
6,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,3.709276e+07,2.434323e+07,1.411909e+07,6.097390e+06,0
7,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,3.411554e+07,1.998247e+07,8.735914e+06,0
8,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,2.780032e+07,1.225395e+07,0
9,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,1.694466e+07,0
10,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0

In [19]:
def generate_option_value(gold_price, lease_v, option_c, original_c, original_r, q, r, t):
    option_value = pd.DataFrame(0,index=range(11),columns=range(11))
    exercise_boundary = pd.DataFrame(0,index=range(11),columns=range(11))
    
    for i in reversed(range(10)):
        for j in reversed(range(i+1)):
            if i < t:
                option_value.iloc[j, i] = (value_max(gold_price.iloc[j,i] - original_c, 0) * original_r + 
                                                    q * option_value.iloc[j+1, i+1] + (1 - q) * option_value.iloc[j, i+1]) / (1 + r)
            else:
                option_value.iloc[j, i] = value_max(lease_v.iloc[j, i] - option_c,
                                                    (value_max(gold_price.iloc[j,i] - original_c, 0) * original_r + 
                                                    q * option_value.iloc[j+1, i+1] + (1 - q) * option_value.iloc[j, i+1]) / (1 + r))
                exercise_boundary.iloc[j, i] = lease_v.iloc[j, i] - option_c - (value_max(gold_price.iloc[j,i] - original_c, 0) * original_r + 
                                                    q * option_value.iloc[j+1, i+1] + (1 - q) * option_value.iloc[j, i+1]) / (1 + r)
    return option_value, exercise_boundary

In [20]:
option_value, exercise_boundary = generate_option_value(gold_price_lattice, lease_value, option_cost, original_cost, original_rate, Q, R, 5)

,0,1,2,3,4,5,6,7,8,9,10
0,0,0,0,0,0,-5.583724e+06,-5.511753e+06,-5.271261e+06,-5.036497e+06,-5.000000e+06,0
1,0,0,0,0,0,-4.422235e+06,-5.164328e+06,-5.520116e+06,-5.429332e+06,-5.060221e+06,0
2,0,0,0,0,0,-2.520852e+06,-3.814092e+06,-4.671694e+06,-5.134076e+06,-5.234549e+06,0
3,0,0,0,0,0,-2.555514e+05,-1.981784e+06,-3.434886e+06,-4.391991e+06,-4.900611e+06,0
4,0,0,0,0,0,1.023622e+06,2.110146e+05,-1.785809e+06,-3.402545e+06,-4.455360e+06,0
5,0,0,0,0,0,1.928465e+06,1.566528e+06,4.129614e+05,-2.083282e+06,-3.861692e+06,0
6,0,0,0,0,0,0.000000e+00,2.652340e+06,2.119753e+06,-3.242665e+05,-3.070135e+06,0
7,0,0,0,0,0,0.000000e+00,0.000000e+00,3.520990e+06,2.021088e+06,-2.014725e+06,0
8,0,0,0,0,0,0.000000e+00,0.000000e+00,0.000000e+00,4.379275e+06,-6.075123e+05,0
9,0,0,0,0,0,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,1.268771e+06,0
10,0,0,0,0,0,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0

## Q2 Compute the time t=0 value of the mine when the lease enhancement is not in place but you do have the option to perform the enhancement, i.e. install the new equipment, at the beginning of the fifth year or any later point in the lifetime of the lease.

In [22]:
option_value / 1000000

,0,1,2,3,4,5,6,7,8,9,10
0,25.479581,18.473119,12.956514,8.821155,5.609762,3.172343,1.448845,0.437213,0.036497,0.000000,0
1,0.000000,29.804749,21.602389,15.107670,10.376024,6.733336,3.967004,1.983342,0.703153,0.060221,0
2,0.000000,0.000000,34.176642,24.610107,16.907644,11.504972,7.402582,4.302357,2.094562,0.686355,0
3,0.000000,0.000000,0.000000,38.446406,27.376855,18.146726,11.983353,7.394377,3.949774,1.521200,0
4,0.000000,0.000000,0.000000,0.000000,42.380142,29.767247,18.552342,11.517071,6.423391,2.634328,0
5,0.000000,0.000000,0.000000,0.000000,0.000000,45.602011,29.953371,17.426958,9.721546,4.118497,0
6,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,45.154744,27.687885,14.119086,6.097390,0
7,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,41.369120,22.003561,8.735914,0
8,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,32.948550,12.253946,0
9,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,18.213427,0
10,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0

## Q3 Suppose you own the lease on the mine and the option to enhance the mine in year 5 or later. Assuming you behave optimally, what is the earliest period in which there is a strictly positive probability that you will enhance the mine, i.e. install the new equipment?

In [23]:
exercise_boundary

,0,1,2,3,4,5,6,7,8,9,10
0,0,0,0,0,0,-5.583724e+06,-5.511753e+06,-5.271261e+06,-5.036497e+06,-5.000000e+06,0
1,0,0,0,0,0,-4.422235e+06,-5.164328e+06,-5.520116e+06,-5.429332e+06,-5.060221e+06,0
2,0,0,0,0,0,-2.520852e+06,-3.814092e+06,-4.671694e+06,-5.134076e+06,-5.234549e+06,0
3,0,0,0,0,0,-2.555514e+05,-1.981784e+06,-3.434886e+06,-4.391991e+06,-4.900611e+06,0
4,0,0,0,0,0,1.023622e+06,2.110146e+05,-1.785809e+06,-3.402545e+06,-4.455360e+06,0
5,0,0,0,0,0,1.928465e+06,1.566528e+06,4.129614e+05,-2.083282e+06,-3.861692e+06,0
6,0,0,0,0,0,0.000000e+00,2.652340e+06,2.119753e+06,-3.242665e+05,-3.070135e+06,0
7,0,0,0,0,0,0.000000e+00,0.000000e+00,3.520990e+06,2.021088e+06,-2.014725e+06,0
8,0,0,0,0,0,0.000000e+00,0.000000e+00,0.000000e+00,4.379275e+06,-6.075123e+05,0
9,0,0,0,0,0,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,1.268771e+06,0
10,0,0,0,0,0,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0

## 5

## Suppose you own the lease on the mine and the option to enhance the mine in year 5 or later. Assuming you behave optimally, how many time periods are there in which there is a strictly positive probability that you will actually enhance the mine, i.e. install the new equipment?

##  count the periods of which previous nodes are negative    2